.about {
  position: relative; // in case of pos.abs. of children
  margin-bottom: 5rem;
  //About Header
  &__title {
    text-align: center;
    font-size: $font-lg;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__card {
    padding: 1rem;
    margin-bottom: 2.25rem;
    //Card desc
    &__desc {
      //Card Title
      &__title {
        padding: 1rem;
        font-size: $font-md;
      }
      //Card Paragraph
      &__text {
        padding: 0.725rem;
        line-height: 1.5;
        max-width: 30vw;
      }
    }

    &__image {
      position: relative;
      margin-right: 1.25rem;
      padding: 1rem;
      // Image custom borders
      &::before {
        content: url(../images/border-deco.svg);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }

      &::after {
        content: url(../images/border-deco.svg);
        transform: rotate(-180deg);
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
      }
      img {
        border-radius: 5px;
      }
    }
  }

  &__bgDeco {
    position: absolute;
    opacity: 0.3;
    bottom: -5%;
    right: 5%;
    z-index: -1;
  }
}
