// Colors
$background-color: #302014;
$primary-color: #F9E7DD;

// Typography 
$font-stack: 'Suez One', serif;
$content-font-stack: 'Asap', sans-serif;
$font-sm: 1.5rem;
$font-md: 2.25rem;
$font-lg: 3.25rem;
